In [1]:
import pandas as pd

In [13]:
m = {
    'jon': ['horw','hoina']
}
data = pd.Series(m)

In [2]:
df = pd.read_csv('full.csv')

In [14]:
data_set = df.groupby(['Sex','Survived','Pclass'])
data_set.describe()

                       PassengerId                                         \
                             count        mean         std    min     25%
Sex    Survived Pclass
female 0.0      1              3.0  325.000000  162.194328  178.0  238.00
                2              6.0  423.500000  322.594947   42.0  228.25
                3             72.0  440.375000  263.865813   15.0  224.00
       1.0      1             91.0  473.967033  248.968916    2.0  296.00
                2             70.0  444.785714  238.617023   10.0  280.75
                3             72.0  359.083333  266.188419    3.0  138.75
male   0.0      1             77.0  413.623377  255.663741    7.0  171.00
                2             91.0  454.010989  255.021371   21.0  231.00
                3            300.0  456.750000  263.247078    1.0  206.25
       1.0      1             45.0  527.777778  215.633410   24.0  431.00
                2             17.0  415.588235  272.558035   18.0  194.00
                3             47.0  447.638298  255.919776   37.0  241.50

                                                Age             ... Age_wiki  \
                          50%     75%    max  count       mean  ...      75%
Sex    Survived Pclass                                          ...
female 0.0      1       298.0  398.50  499.0    3.0  25.666667  ...    37.50
                2       335.5  669.25  855.0    6.0  36.000000  ...    43.25
                3       430.5  646.00  889.0   55.0  23.818182  ...    31.00
       1.0      1       458.0  705.00  888.0   82.0  34.939024  ...    45.00
                2       442.5  614.25  881.0   68.0  28.080882  ...    36.00
                3       322.5  563.50  876.0   47.0  19.329787  ...    26.50
male   0.0      1       439.0  626.00  873.0   61.0  44.581967  ...    55.25
                2       419.0  685.50  887.0   84.0  33.369048  ...    38.00
                3       471.5  687.25  891.0  215.0  27.255814  ...    33.00
       1.0      1       588.0  682.00  890.0   40.0  36.248000  ...    47.00
                2       408.0  571.00  832.0   15.0  16.022000  ...    32.00
                3       430.0  679.00  870.0   38.0  22.274211  ...    30.00

                              Class                                          \
                         max  count      mean       std  min  25%  50%  75%
Sex    Survived Pclass
female 0.0      1       50.0    3.0  1.000000  0.000000  1.0  1.0  1.0  1.0
                2       57.0    6.0  2.000000  0.000000  2.0  2.0  2.0  2.0
                3       63.0   72.0  3.000000  0.000000  3.0  3.0  3.0  3.0
       1.0      1       62.0   91.0  1.000000  0.000000  1.0  1.0  1.0  1.0
                2       60.0   70.0  1.985714  0.119523  1.0  2.0  2.0  2.0
                3       63.0   71.0  3.000000  0.000000  3.0  3.0  3.0  3.0
male   0.0      1       71.0   76.0  1.000000  0.000000  1.0  1.0  1.0  1.0
                2       71.0   91.0  1.989011  0.104828  1.0  2.0  2.0  2.0
                3       74.0  300.0  3.000000  0.000000  3.0  3.0  3.0  3.0
       1.0      1       60.0   45.0  1.000000  0.000000  1.0  1.0  1.0  1.0
                2       62.0   17.0  2.000000  0.000000  2.0  2.0  2.0  2.0
                3       45.0   47.0  3.000000  0.000000  3.0  3.0  3.0  3.0


                        max
Sex    Survived Pclass
female 0.0      1       1.0
                2       2.0
                3       3.0
       1.0      1       1.0
                2       2.0
                3       3.0
male   0.0      1       1.0
                2       2.0
                3       3.0
       1.0      1       1.0
                2       2.0
                3       3.0

[12 rows x 64 columns]