In [2]:
# lst = ('Manoj','asfa',1,2,4)
lastName, firstName, _ = ('Manoj','asfa',1,2,4)
print(lastName)
print(firstName)
print(_)

ValueError: too many values to unpack (expected 3)

In [3]:
#Qsn 1
t = (1,2,3,4,)
t[0]

1

In [5]:
t[-1]

4

In [7]:
for i in range(len(t)):
    print(t[i], end='\t')

1	2	3	4

In [ ]:
for num in t:
    print(num, end='\t')

1	2	3	4

In [ ]:
t.append(4) #tuples are immutable

In [11]:
t += (4,)
t

(1, 2, 3, 4, 4)

In [13]:
t *= 2
t

(1, 2, 3, 4, 4, 1, 2, 3, 4, 4, 1, 2, 3, 4, 4, 1, 2, 3, 4, 4)

In [14]:
tt = ((1,2,3),[4,5]) #nested tuple/2D tuple
tt

((1, 2, 3), [4, 5])

In [16]:
for i in range(len(tt)):
    for j in range(len(tt[i])):
        print(tt[i][j], end='\t')

1	2	3	4	5

In [20]:
a = {'cat','dog','mouse','parrot'}
b = {'mouse','elephant','cat','lion'}
a
b

{'cat', 'elephant', 'lion', 'mouse'}

In [22]:
a.union(b)

{'cat', 'dog', 'elephant', 'lion', 'mouse', 'parrot'}

In [24]:
a.symmetric_difference(b)

{'dog', 'elephant', 'lion', 'parrot'}

In [26]:
s = set("hello")
s

{'e', 'h', 'l', 'o'}

In [28]:
s.add("i")
s

{'e', 'h', 'i', 'l', 'o'}

In [34]:
s.remove('i')
s

{'h', 'l', 'o'}

In [36]:
L = [2,33,2,1,1,5,6,6,0]
l = []
for each in L:
    if each not in l:
        l.append(each)
l
L

[2, 33, 2, 1, 1, 5, 6, 6, 0]

In [38]:
list(set(L))

[0, 33, 2, 1, 5, 6]

In [39]:
d = {"a":1,"b":2,"c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [43]:
d["a"]

1

In [ ]:
d["d"] = 4
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
del d["b"]
d

{'a': 1}

In [50]:
for key,value in d.items():
    print(key,value)

a 1

In [51]:
for key in d.keys():
    print(key)

a

In [52]:
for value in d.values():
    print(value)

1

In [53]:
d1 = {"a":[1,2,3,4],"b":[5,6,7,8]}
d1

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]}

In [54]:
d2 = {"a":{"x":12,"y":13},"b":(5,6,7,8)}
d2

{'a': {'x': 12, 'y': 13}, 'b': (5, 6, 7, 8)}

In [55]:
d2["a"]

{'x': 12, 'y': 13}

In [56]:
d2["a"]["x"]

12

In [57]:
d2["b"]

(5, 6, 7, 8)

In [58]:
d2["b"][-1]

8

In [1]:
def addUser():
    while(True):
        id = 1
        try:
            firstName = input("Enter your First Name>>>")
            lastName = input("Enter your Last Name>>>")
            phoneNumber = int(input("Enter your Phone number>>>"))
        except ValueError:
            print("Please enter suitable input")
            continue
        print("User Registered")
        user[f"{id}"] = {
            "id":id,
            "firstName":firstName,
            "lastName":lastName,
            "phoneNumber":phoneNumber
        }
        id += 1
        break

def showUser():
    for key in user:
        for value in user:
            print(key+":"+value)


user = {}
print('''1. Add User\n2. Show Users''')
while(True):
    try:
        choice = int(input("Enter your choice>>>"))
    except ValueError:
        print("Please enter number only")
        continue
    break
while(True):
    if choice == 1:
        addUser()
    elif choice == 2:
        showUser()
    else:
        print("Enter valid option")
        continue
    break

1. Add User
2. Show Users
Please enter number only