In [2]:
# lst = ('Manoj','asfa',1,2,4)
lastName, firstName, _ = ('Manoj','asfa',1,2,4)
print(lastName)
print(firstName)
print(_)

ValueError: too many values to unpack (expected 3)

In [3]:
#Qsn 1
t = (1,2,3,4,)
t[0]

1

In [5]:
t[-1]

4

In [7]:
for i in range(len(t)):
    print(t[i], end='\t')

1	2	3	4

In [ ]:
for num in t:
    print(num, end='\t')

1	2	3	4

In [ ]:
t.append(4) #tuples are immutable

In [11]:
t += (4,)
t

(1, 2, 3, 4, 4)

In [13]:
t *= 2
t

(1, 2, 3, 4, 4, 1, 2, 3, 4, 4, 1, 2, 3, 4, 4, 1, 2, 3, 4, 4)

In [14]:
tt = ((1,2,3),[4,5]) #nested tuple/2D tuple
tt

((1, 2, 3), [4, 5])

In [16]:
for i in range(len(tt)):
    for j in range(len(tt[i])):
        print(tt[i][j], end='\t')

1	2	3	4	5

In [20]:
a = {'cat','dog','mouse','parrot'}
b = {'mouse','elephant','cat','lion'}
a
b

{'cat', 'elephant', 'lion', 'mouse'}

In [22]:
a.union(b)

{'cat', 'dog', 'elephant', 'lion', 'mouse', 'parrot'}

In [24]:
a.symmetric_difference(b)

{'dog', 'elephant', 'lion', 'parrot'}

In [26]:
s = set("hello")
s

{'e', 'h', 'l', 'o'}

In [28]:
s.add("i")
s

{'e', 'h', 'i', 'l', 'o'}

In [34]:
s.remove('i')
s

{'h', 'l', 'o'}

In [36]:
L = [2,33,2,1,1,5,6,6,0]
l = []
for each in L:
    if each not in l:
        l.append(each)
l
L

[2, 33, 2, 1, 1, 5, 6, 6, 0]

In [38]:
list(set(L))

[0, 33, 2, 1, 5, 6]

In [39]:
d = {"a":1,"b":2,"c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [43]:
d["a"]

1

In [ ]:
d["d"] = 4
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}