In [7]:
# Data Set is student.csv
import statistics 
import pandas as pd

In [8]:
df = pd.read_csv('C:/Users/Dell/Downloads/StudentScores.csv')
df.head(2)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Larry,Waters,larry.waters.1@gslingacademy.com,male,False,2,True,24,Software Developer,80,100,92,68,83,97,60
1,2,Tracy,Payne,tracy.payne.2@gslingacademy.com,male,False,4,True,30,Pilot,86,84,70,92,68,88,75

use data set StudentScores.csv
1. find average weekly self study hours
2. what's the max score in math?
3. which subject seems to be an issue that needs more effort?
4. Dataset consists of marks of 20 students, 10 male and 10 female.
    Test whether the mark is significantly different based on gender using chi2 test.
    Mark(M)	Mark (F)
        77	56
        65	65
        56	55
        47	48
        76	87
        58	67
        91	76
        61	54
        60	75
        61	67
        
    Mark(M)	Mark (F)
        77	76
        65	65
        56	55
        47	48
        76	87
        58	51
        91	83
        61	59
        60	65
        61	61


5. describe how mean and median is different using choice of your data.
6. use describe function and explain the findings on the provided dataset 
7. There is 2 group consisiting of 10 students each.
one group of student sleep 8 hours a day and another group sleep 5 hours a day. 
Test whether the sleep hours affect the mark or not.
Group1 (8 hrs sleep)	Group2(5 hrs sleep)
                    77	56
                    65	65
                    56	55
                    47	48
                    76	87
                    58	67
                    91	76
                    61	54
                    60	75
                    61	67

In [11]:
statistics.mean(df.weekly_self_study_hours)

28.82

In [16]:
max_score = df["math_score"].max()
max_score

np.int64(99)

In [ ]:
# 3. which subject seems to be an issue that needs more effort?
# Select only the subject columns
subject_columns = ['math_score', 'history_score', 'physics_score', 'chemistry_score', 'biology_score', 'english_score', 'geography_score']

# Compute the average score per subject
average_scores = df[subject_columns].mean()

# Find the subject with the lowest average score
subject_needing_effort = average_scores.idxmin()

print(f"The subject that needs more effort is: {subject_needing_effort}")

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

marks_male = [77, 65, 56, 47, 76, 58, 91, 61, 60, 61]
marks_female = [76, 65, 55, 48, 87, 51, 83, 59, 65, 61]

bins = [0, 54, 69, 84, 100]
labels = ['40-54', '55-69', '70-84', '85-100']

male_cats = pd.cut(marks_male, bins=bins, labels=labels)
female_cats = pd.cut(marks_female, bins=bins, labels=labels)

contingency_table = pd.crosstab(index=male_cats, columns='Male').join(
    pd.crosstab(index=female_cats, columns='Female')
).fillna(0).astype(int)

print("Contingency Table:\n", contingency_table)
# 3. which subject seems to be an issue that needs more effort?
# Select only the subject columns
subject_columns = ['math_score', 'history_score', 'physics_score', 'chemistry_score', 'biology_score', 'english_score', 'geography_score']

# Compute the average score per subject
average_scores = df[subject_columns].mean()

# Find the subject with the lowest average score
subject_needing_effort = average_scores.idxmin()

print(f"The subject that needs more effort is: {subject_needing_effort}")
chi2, p, dof, expected = chi2_contingency(contingency_table)

print("\nChi-Square Test Results:")
print(f"Chi2 Statistic = {chi2:.4f}")
print(f"P-Value = {p:.4f}")
print(f"Degrees of Freedom = {dof}")

Contingency Table:
 col_0   Male  Female
row_0
40-54      1       2
55-69      6       5
70-84      2       2
85-100     1       1

Chi-Square Test Results:
Chi2 Statistic = 0.4242
P-Value = 0.9352
Degrees of Freedom = 3