In [31]:
import pandas as pd
import numpy as np

##### 1. Create 5 different python objects as following:
##### Python list with string values. (Store it in variable data_labels_1)
##### Python list with integer values. (Store it in variable data_values_1)
##### A numpy array. (Store it in variable series_numpy_array_1)
##### A python dictionary (Store it in variable dict2)

In [ ]:
obj1 = {
    "name": ["jonsen", "gaire", "horw", "hoina", "holaa"]
}
obj2 = {
    "age": [25, 30, 35, 40, 45]
}
obj3 = {
    "city": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
}

data_labels_1 = pd.DataFrame(obj1)
data_labels_1 = pd.DataFrame(obj2)
series_numpy_array_1 = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
dict_2 = {'Name':'Jonsen','Sub': 'Data Discovery'}
# data_labels_3 = pd.DataFrame(obj3)

##### 2. Create a new python series that stores the population of 5 various cities as data and name of the cities as indexes from data given below. Store it in variable cities_population.
##### indexes = ['Biratnagar', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Narayangarh']
##### data = [200000, 1600000, 600000, 500000, 350000]

In [44]:
population = {
    "indexes": ['Biratnagar', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Narayangarh'],
    "data": [200000, 1600000, 600000, 500000, 350000]
}
cities_population = pd.Series(population)
cities_population

indexes    [Biratnagar, Kathmandu, Lalitpur, Pokhara, Nar...
data               [200000, 1600000, 600000, 500000, 350000]
dtype: object

##### 3. Create different python series for each question below out of the data above as follows:
##### Using python list data_values_1. What do you observe regarding the indexes?
##### Using python list data_labels_1. What do you observe regarding the datatype of the series?
##### Using data_values_1 as data values and data_labels_1 as indexes
##### Using numpy array series_numpy_array_1.
##### Using numpy array series_numpy_array_1. Set the indexes to data_labels_1.
##### Using python dictionary dict2. What do you observe regarding the indexes?

In [56]:
naam = ['jon','sen','ga']
data_values_1 = pd.Series(naam)
data_values_1
series_numpy_array_1
data_values_1 = pd.DataFrame(series_numpy_array_1, index=dict_2)
# type(data_values_1)

ValueError: Shape of passed values is (10, 1), indices imply (2, 1)

##### 4. Fetch the indexes of the series cities_population

In [57]:
cities_population.indexes

['Biratnagar', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Narayangarh']

##### 5. Create a new python series that stores the population of 5 various cities as data and name of the cities as indexes from data given below. Store it in variable cities_population_2.
##### indexes = ['Bhaktapur', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Butwal']
##### data = [150000, 1600000, 600000, 500000, 300000]

In [58]:
population_2 = {
    "data": [200000, 1600000, 600000, 500000, 350000]
}
cities_population_2 = pd.Series(population, index=['Biratnagar', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Narayangarh'])
cities_population_2

Biratnagar     NaN
Kathmandu      NaN
Lalitpur       NaN
Pokhara        NaN
Narayangarh    NaN
dtype: object

##### 6. Perform addition on series 'cities_population' and 'cities_population_2'. What do you observe?

In [59]:
cities = population + population_2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

##### 7. Create a pandas DataFrame out of the following data. Store it in the variable df_.
##### serial_no: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #row indexes
##### subjects : ['ENG', 'NEP', 'MAT', 'SCI', 'COM'] #column headers
##### students : ['RAM','SHYAM','GITA','HARI','SITA','SUSHILA','RAMESH','SUBODH','ANIL','RUPA']
##### marks :marks =[[57, 34, 93, 84, 54], [48, 49, 52, 89, 64], [66, 64, 75, 38, 84], [55, 47, 90, 82, 37], [45, 93, 70, 53, 76], [45, 63, 33, 53, 72], [68, 34, 42, 43, 84], [62, 69, 67, 50, 94], [59, 33, 51, 68, 33], [57, 91, 60, 37, 44]]

In [60]:
serial_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subjects = ['ENG', 'NEP', 'MAT', 'SCI', 'COM']
students = ['RAM', 'SHYAM', 'GITA', 'HARI', 'SITA', 'SUSHILA', 'RAMESH', 'SUBODH', 'ANIL', 'RUPA']
marks = [
    [57, 34, 93, 84, 54],
    [48, 49, 52, 89, 64],
    [66, 64, 75, 38, 84],
    [55, 47, 90, 82, 37],
    [45, 93, 70, 53, 76],
    [45, 63, 33, 53, 72],
    [68, 34, 42, 43, 84],
    [62, 69, 67, 50, 94],
    [59, 33, 51, 68, 33],
    [57, 91, 60, 37, 44]
]

df_ = pd.DataFrame(marks, index=serial_no, columns=subjects)

df_["STUDENT"] = students

print(df_)

    ENG  NEP  MAT  SCI  COM  STUDENT
1    57   34   93   84   54      RAM
2    48   49   52   89   64    SHYAM
3    66   64   75   38   84     GITA
4    55   47   90   82   37     HARI
5    45   93   70   53   76     SITA
6    45   63   33   53   72  SUSHILA
7    68   34   42   43   84   RAMESH
8    62   69   67   50   94   SUBODH
9    59   33   51   68   33     ANIL
10   57   91   60   37   44     RUPA

##### 8. Fetch the records of all the students who have passed in Nepali.

In [61]:
passed_students = df_[df_["NEP"] >= 40]
print(passed_students)

    ENG  NEP  MAT  SCI  COM  STUDENT
2    48   49   52   89   64    SHYAM
3    66   64   75   38   84     GITA
4    55   47   90   82   37     HARI
5    45   93   70   53   76     SITA
6    45   63   33   53   72  SUSHILA
8    62   69   67   50   94   SUBODH
10   57   91   60   37   44     RUPA

##### 9. Fetch the names of all the students who have scored a first division mark in science. Note that a score of more than or equaly to 70 is First Division.

In [62]:
first_div_students = df_[df_["SCI"] >= 70]["STUDENT"]
print(first_div_students.tolist())

['RAM', 'SHYAM', 'HARI']

##### Extra Question to access a element from a 2D table

In [18]:
u = {
    "Name":["js","ja","jh","jr"],
    "Marks":[1,2,3,4],
    "Status":["pass","fail","pass","fail"],
}
students = pd.DataFrame(u, index=["st1","st2","st3","st4"])
print(students.loc["st1","Name"])

js